.todoForm {
	margin: 20px 0;

	form {
		display: flex;
		justify-content: center;
		align-items: center;

		@media (max-width: 576px) {
			flex-direction: column;
		}
	}
	input[type="text"] {
		width: 70%;
		font-size: 2rem;
		padding: 12px 15px;
		border: none;
		border-radius: 6px;

		@media (max-width: 576px) {
			font-size: 1.8rem;
			width: 80%;
			margin-bottom: 20px;
		}

		&:focus {
			outline: 1px solid #ccc;
		}
	}
	 Button{
		box-shadow: none;
		background-color: rgb(131, 248, 129);
		

		&:hover {
			background-color: rgb(50, 251, 43);
		}
		&:focus {
			background-color: rgb(50, 251, 43);
		}

	}
}
