.todo {
	display: flex;
	align-items: center;
	font-size: 2.4rem;
	padding: 5px 10px;
	background: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: 5px 5px 10px rgb(174, 174, 174);

	@media (max-width: 768px) {
		font-size: 1.6rem;
	}
}

.text {
	width: 100%;
	text-align: left;
	padding-left: 15px;
}

.icons {
	font-size: 2.8rem;
	margin: 0 8px;
	cursor: pointer;
	transition: transform 0.3s, color 0.3s;
	&:hover {
		transform: scale(1.3);
	}
}

.iconList {
	font-size: 2.8rem;
	color: green;
}

.iconBin {
	color: rgb(251, 187, 187);
	&:hover {
		color: red;
	}
}
.iconCheck {
	color: rgb(171, 249, 171);
	&:hover {
		color: green;
	}
}

.todo.isCompleted {
	background-color: unset;

	.text {
		text-decoration: line-through;
	}

	.iconList,
	.icons {
		color: gray;
	}
}
