.button {
	font-size: 2rem;
	padding: 10px 15px;
	min-height: 50px;
	border: 1px solid #ccc;
	box-shadow: 5px 5px 10px rgb(164, 164, 164);
	border-radius: 6px;
	margin-left: 20px;
	transition: box-shadow 0.3s, transform 0.3s, background-color 0.3s, border .3s;

	&:hover {
		border: 1px solid rgb(160, 160, 160);
	}

	&:focus {
		outline: none;
		box-shadow: none;
	}

	&:active {
		transform: scale(0.9);
	}
	&:disabled {
		transform: none;
		box-shadow: none;

		svg {
			color: gray;
		}
		
	}

}
